@using Yamon.Module.PortalIPS.Entity
@using Yamon.Module.PortalIPS.DAL
@{
    ViewBag.Title = "AboutUs";
    CategoryDAL categoryDal = new CategoryDAL();
    vwInfoCategoryDAL vwinfoDAL = new vwInfoCategoryDAL();
    Category gywm = categoryDal.GetInfoByID(categoryDal.GetIdByKey("gywm"));
    Category aboutUs = categoryDal.GetInfoByID(categoryDal.GetIdByKey("aboutUs"));
    List<vwInfoCategory> zixunlist = vwinfoDAL.GetEntityList("CategoryID=? and Status='CHECKED' ", new object[] { gywm.CategoryID }, "CreateTime desc", 10);
    List<vwInfoCategory> aboutUslist = vwinfoDAL.GetEntityList("CategoryID=? and Status='CHECKED' ", new object[] { aboutUs.CategoryID }, "CreateTime desc", 1);
}
<!DOCTYPE html>
<html>
<head>
    <title>关于我们</title>
    @RenderPage("~/Views/include/headcss.cshtml")
</head>
<body>
    <div class="container" id="aboutUs">
        @RenderPage("~/Views/include/head.cshtml")
        <div class="title-img">
            @if (aboutUslist[0].MediaFileName == "")
            {
                <img src="~/assets/img/11_03.jpg" />
            }
            else
            {
                <img src=@aboutUslist[0].MediaFileName />
            }
        </div>
        <div class="row content">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <p>@Html.Raw(zixunlist[0].Content)</p>
            </div>
        </div>
        @RenderPage("~/Views/include/foot.cshtml")
    </div>
    @RenderPage("~/Views/include/footjs.cshtml")
</body>
</html>